{% extends "layout-admin.html" %}

{% block main %}
	<h1 class="title-h1">Usuarios</h1>

	<table id="products">
		<tr id="table-title">

			<th>Nombre</th>
			<th>Apellido</th>
			<th>Documento</th>
			<th>Nro° doc</th>
			<th>Email</th>
			<th>Rol</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>

		{% for user in users %}
		<tr>

			<th>{{ user.name }}</th>
			<th>{{ user.lastName }}</th>
			<th>{{ user.documentType }}</th>
			<th>{{ user.document }}</th>
			<th>{{ user.email }}</th>
			<th>{{ user.role.name }}</th>
			<th><a href="{{ session.base_path }}editUser/{{ user.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a></th>
			<th><a href="{{ session.base_path }}deleteUser/{{ user.id }}"><i class="fa fa-times" aria-hidden="true"></i></a></th>
		</tr>
		{% endfor %}
	</table>

	{% if numberOfPages > 1 %}
		<ul id="pagination">
			{% if actualPage > 0 %}
				<li><a href="{{ url }}listar/?page={{ actualPage - 1 }}">Anterior</a></li>
			{% endif %}
			{% for i in 0..numberOfPages - 1 %}
				{% if actualPage == i %}
					<li>{{ i + 1 }}</li>
				{% else %}
					<li><a href="{{ url }}listar/?page={{ i }}">{{ i + 1 }}</a></li>
				{% endif %}
				
			{% endfor %}
			{% if actualPage < numberOfPages - 1 %}
				<li><a href="{{ url }}listar/?page={{ actualPage + 1  }}">Siguiente</a></li>
			{% endif %}
		</ul>
	{% endif %}
	
{% endblock %}
